<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AllowResize</key>
    <{{ALLOW_RESIZE}}/>
    <key>ApiVersion</key>
    <string>{{API_VERSION}}</string>
    <key>BundleDisplayName</key>
    <string>{{BUNDLE_DISPLAY_NAME}}</string>
    <key>BundleIdentifier</key>
    <string>{{BUNDLE_IDENTIFIER}}</string>
    <key>BundleName</key>
    <string>{{BUNDLE_NAME}}</string>
    <key>BundleVersion</key>
    <string>{{BUNDLE_VERSION}}</string>
    <key>Category</key>
    <string>{{CATEGORY}}</string>
    <key>CloseBoxInsetX</key>
    <integer>0</integer>
    <key>CloseBoxInsetY</key>
    <integer>0</integer>
    <key>Description</key>
    <string>{{DESCRIPTION}}</string>
    <key>ElementsVersion</key>
    <string>{{ELEMENTS_VERSION}}</string>
    <key>ForceUpdate</key>
    <{{FORCE_UPDATE}}/>
    <key>Height</key>
    <integer>{{HEIGHT}}</integer>
    <key>HiddenDizmo</key>
    <{{HIDDEN_DIZMO}}/>
    <key>MainHTML</key>
    <string>{{MAIN_HTML}}</string>
    <key>MinSpaceVersion</key>
    <string>{{MIN_SPACE_VERSION}}</string>
    <key>Tags</key>
    <array>{{#TAGS}}<string>{{.}}</string>{{/TAGS}}</array>
    <key>TitleEditable</key>
    <{{TITLE_EDITABLE}}/>
    <key>Width</key>
    <integer>{{WIDTH}}</integer>
  </dict>
</plist>
