<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= name %></title>

    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="front">
    <div class="table">
        <div class="table-cell">Hello World!</div>
    </div>
</div>
<div id="back">
    <div class="footer">
        <button id="done" data-type="dizmo-button">Done</button>
    </div>
</div>

<script src="lib/lib-bundle.js"></script>
<script src="index.js"></script>
</body>
</html>
